.product-card {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    margin: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f0f0f0;
}

.product-details {
    padding: 16px;
}

.product-details h3 {
    margin: 0;
    color: #212121;
    font-size: 1.4em;
}

.product-details p {
    color: #757575;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.6em;
    font-weight: bold;
    color: #e44d26; /* Your desired color */
    margin-top: 10px;
}

.InvalidId {
    text-align: center;
    margin-top: 20px;
}

.noProductFound {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.noProductFound h2 {
    margin: 0;
    color: #757575;
    font-size: 1.2em;
}

